<header class="header">

    <div class="header-top_inner">
        <a class="logo" href="/">
        <img
          src="/src/assets/icons/logo/logo1.svg"
          width="170"
          height="51"
          alt="logo"
        />
      </a>
         <include src="html/components/social/_index.html"></include>
<ul class="contact-info">
    <li>
        <span class="contact-info_text">Call anytime</span>
        <a class="contact-info_link icon icon-phone" href="tel:980009630">+ 98 (000) - 9630</a>
    </li>
    <li>
        <span class="contact-info_text">Send email</span>
        <a class="contact-info_link icon icon-mail" href="mailto:ambed@agrios.com">ambed@agrios.com</a>
    </li>
    <li>
        <span class="contact-info_text">380 St Kilda Road</span>
        <a class="contact-info_link icon icon-location" href="https://maps.app.goo.gl/T1H7RM9gQR1XgwAf7">Melbourne, Australia</a>
    </li>
</ul>
   

    </div>
    <div class="header-bottom">

        <div class="container">
    <nav class="nav">
      
      <!-- <include src="html/components/burger/index.html"> </include> -->
      <ul class="menu">
        <li>
            <a class="menu_link" href="/" >Home</a>
        </li>
        <li>
            <a class="menu_link" href="/about.html" >About</a>
        </li>
        <li>
            <a class="menu_link" href="/services.html" >Services</a>
        </li>
        <li>
            <a class="menu_link" href="/projects.html" >Projects</a>
        </li>
        <li>
            <a class="menu_link" href="/blog.html" >Blog</a>
        </li>
        <li>
            <a class="menu_link" href="/shop.html" >Shop</a>
        </li>
        <li>
            <a class="menu_link" href="/contact.html" >Contact</a>
        </li>
      </ul>
    </nav>
    
    <div class="header-actions">
  <button class="header-actions_search"></button>

  <div class="header-actions_cart">
    <button class="header-actions_cart-btn"></button>
    <span class="header-actions_cart-count">0</span>
  </div>
</div>
    </div>
</div>
    



</header>