<footer class="footer">

  <!-- верхній футер -->
  <div class="footer-top">
    <div class="container">
      <div class="footer_grid">

        <div class="footer_group">
          <div class="footer-details">
            <a class="logo" href="/">
              <img
                src="/src/assets/icons/logo/logo.svg"
                width="170"
                height="51"
                alt="logo"
              />
            </a>

            <p class="footer-details_text">
              There are many variations of passages
              of lorem ipsum available, but the
              majority suffered.
            </p>

            <include src="html/components/social/_index.html"></include>
          </div>
        </div>

        <div class="footer_group">
          <div class="Explore">
            <h3 class="footer-title">Explore</h3>

            <ul class="footer-menu_list">
              <li><a class="footer-menu_link" href="/about.html">About</a></li>
              <li><a class="footer-menu_link" href="/services.html">Services</a></li>
              <li><a class="footer-menu_link" href="/projects.html">Our Projects</a></li>
              <li><a class="footer-menu_link" href="/news.html">Latest News</a></li>
              <li><a class="footer-menu_link" href="/shop.html">Shop</a></li>
              <li><a class="footer-menu_link" href="/contact.html">Contact</a></li>
            </ul>

          </div>
        </div>

        <div class="footer_group">
          <div class="footer-news">

            <h3 class="footer-title">News</h3>

            <ul class="footer-news_list">
              <li class="footer-news_item">
                
                <a href="/post.html?id=1" class="footer-news_link">
                  Bringing Food Production Back To Cities
                </a>
                <span class="color-accent footer-news_date">July 12, 2024</span>
              </li>

              <li class="footer-news_item">
                
                <a href="/post.html?id=2" class="footer-news_link">
                  The Future of Farming, Smart Irrigation Solutions
                </a>
                <span class="color-accent footer-news_date">July 10, 2024</span>
              </li>
            </ul>

          </div>
        </div>

        <div class="footer_group">
          <address class="contacts">

            <h3 class="footer-title">Contact</h3>

            <ul class="contacts_list">
              <li>
                <span class="color-accent fw-700">Phone:</span>
                <a class="contacts_link" href="tel:+10452241267">
                  + 1 (045) – 224 – 12 – 67
                </a>
              </li>

              <li>
                <span class="color-accent fw-700">Address:</span>
                <a class="contacts_link" href="#">
                  470 Lucy Forks, Patriciafurt, YC7B 3UT
                </a>
              </li>

              <li>
                <span class="color-accent fw-700">Mail:</span>
                <a class="contacts_link" href="mailto:template@monster.com">
                  template@monster.com
                </a>
              </li>
            </ul>

          </address>

          <form class="subscribe-form">
            <div class="subscribe-form_group">
              <label for="email" class="sr-only">Your Email Address</label>

              <input
                class="subscribe-form_input"
                type="email"
                name="email"
                id="email"
                placeholder="Your email Address"
                required
              >

              <button class="subscribe-form_btn">
                <span class="sr-only">submit form</span>
              </button>

            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <!-- нижній футер -->
  <div class="footer-bottom">
  <div class="container footer-bottom_grid">

    <p class="footer-bottom_copy">
      © All Copyright 2024 by shawonetc Themes
    </p>

    <div class="footer-bottom_legal">
      <a href="#">Terms of Use</a>
      <a href="#">Privacy Policy</a>
    </div>

  </div>
</div>

</footer>
