.posts {
    padding-top: 120px;
    padding-bottom: 120px;

  .container {
    height: auto;
    // display: block;
  }
}

.posts__inner {
  display: grid;
  grid-template-columns: 1fr 370px; // ліва колонка — пости, права — сайдбар
  gap: 30px;
  align-items: start;
}

.post-card {
  position: relative;
  max-width: 770px;
  
  &:not(:last-child) {
  margin-bottom: 30px;
  &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: var(--color-border);
      }
      }
}

.post-date {
  position: relative;
  bottom: 50px;
  left: 20px;
  background: var(--c-green);
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 1;
}


.post-description {
  font-size: 30px;
    font-weight: 800;
    color: var(--c-dark);
}

.post-text {
    padding-top: 11px;
        max-width: 765px;
      font-size: 16px;
      line-height: 30px;
      color: var(--c-gray);
    
}

.btn-post {
    position: relative;
right: 58px;
    background: var(--c-white);
    color: var(--c-dark);
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;

  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid var(--c-green);
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &:hover:not(:disabled) {
      border-color: var(--c-gray); // ваш жовтий
      color: var(--c-gray);
    }

    &.active {
      background-color: var(--c-green);
      border-color: var(--c-green);
      color: #fff;
    }

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}



