<ul class="social">
    <li>
        <a       
      href="https://www.X.com"
      target="_blank"
      class="social_link social-icon icon-x">
      <span class="sr-only">X</span>
        </a>
    </li>
    <li>
        <a       
      href="https://www.facebook.com"
      target="_blank"
      class="social_link social-icon icon-facebook">
      <span class="sr-only">Facebook</span>
        </a>
    </li>
    <li>
        <a       
      href="https://www.pinterest.com/"
      target="_blank"
      class="social_link social-icon icon-pinterest">
      <span class="sr-only">Pinterest</span>
        </a>
    </li>
    <li>
        <a       
      href="https://www.instagram.com/"
      target="_blank"
      class="social_link social-icon icon-instagram">
      <span class="sr-only">Instagram</span>
        </a>
    </li>
</ul>