:root {
  --ff-primary: "Manrope", sans-serif;
  --ff-secondary: "CoveredByYourGrace", sans-serif;
  --c-white: #ffffff;
  --c-dark: #1F1E17;
  --c-green: #4BAF47;
  --c-lightgreen: #C5CE38;
  --c-yellow: #EEC044;
  --c-gray: #878680;
  --color-border: #E4E2D7;
  --color-background: #F8F7F0;
}











